<header class="header d-flex align-items-center justify-content-around">
    <div class="header__logo"><a href="{{ path('app_home') }}">Shoot</a></div>
    <div class="header__buttons">
        <a class="header__sign-in-btn btn" href="{{ path('app_login') }}">Войти</a>
        <a class="header__sign-up-btn btn" href="{{ path('app_register') }}">Зарегистрироваться</a>
        <a class="btn" href="#">Добавить</a>
        <a class="btn exit-btn btn-primary" href="{{ path('app_logout') }}">Выход</a>
    </div>
</header>